<html>
<head>
    <title>PMS</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">  <div class="navbar-header"> <div> <ul class="nav navbar-nav">
    <li class="active"><a href="/home">Home</a></li>
    <li><a href="/crime">Add A crime</a></li>
    <li><a href="/items">Add Items</a></li>
    <li><a href="/officers">Add Officers</a></li>
    <li><a href="/block">Block Supervision</a></li>
    <li><a href="/prescription">Add Prescription</a></li>
    <li><a href="/visitors">Visitors</a></li>
</ul>
</div>
    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
</div>
</nav>
</body>
</html>
