<html>
<head>
    <title>PMS</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">  <div class="navbar-header"> <div> <ul class="nav navbar-nav">
    <li ><a href="/home">Home</a></li>
    <li><a href="/crime">Add A crime</a></li>
    <li><a href="/items">Add Items</a></li>
    <li class="active"><a href="/officers">Add Officers</a></li>
    <li><a href="/block">Block Supervision</a></li>
    <li><a href="/prescription">Add Prescription</a></li>
    <li><a href="/visitors">Visitors</a></li>
    <li><a href="/prisoners">Add Prisoners</a></li>
</ul>
</div></div>
</nav>

<div class="container">
    <form action="/officers" method="post">
        <div class="form-group">
            <label for="name">Name of Officer</label>
            <input id="name" type="text" name="name" placeholder="Name of officer" class="form-control"/>
        </div>

        <div class="form-group">
            <select class="form-control" name="block_id" id="block">
                <option disabled>No Block</option>
                {{#each blocks}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>

        <button class=" btn btn-default">Submit</button>
    </form>
</div>
</body>
</html>